header#on-board-header {
    padding: 40px;
}
.has-search .form-control {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 0 17px 41px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #b8b8c5;
}
.has-search .form-control ::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #b8b8c5;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3.7rem;
    text-align: center;
    pointer-events: none;
    color: #b8b8c5;
}
button.header-theme-btns.btn.btn-primary {
    background: rgba(184, 184, 197, 0.15);
    border-radius: 10px;
    background: rgba(184, 184, 197, 0.15);
    border-radius: 10px;
    color: #b8b8c5;
    border: none;
    padding: 13px 29px;
    font-weight: 500;
}
.notification-holder .dropdown-toggle::after {
    display: none;
}
.notification-holder .dropdown button.btn-primary {
    background-color: transparent;
    border: none;
    font-size: 22px;
    color: Gray;
}
.notification-holder .dropdown button.btn-primary {
    background-color: transparent;
    border: none;
    font-size: 26px;
    color: #b8b8c5;
    position: relative;
}
span.notify-circle {
    font-size: 10px;
    position: absolute;
    top: 7px;
    right: 13px;
    color: #ed4c5c;
}
.question-holder {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #b8b8c5;
    color: #b8b8c5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
