
@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid-light.ttf') format('TrueType');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid-regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid-medium.ttf') format('TrueType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid-semiBold.ttf') format('TrueType');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid-bold.ttf') format('TrueType');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  background: #F8FAFB;
  font-family: 'Euclid';
font-weight: normal;
}
.custom-container {
  max-width: 1250px;
  margin: 0 auto;
}
.btn-orange {
  background: #F4976C;
  color: #fff;
  height: 50px;
  border: 1px solid #F4976C;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.btn-orange:hover {
  background: transparent;
  color: #F4976C;
}
.text-orange{
  color: #F4976C;
}
.step-wrapper{
  background: #fff;
  border-radius: 30px;
  padding: 60px 40px 30px;
}
.step-wrapper .heading {
  text-align: center;
  margin-bottom: 60px;
}
.heading p {
  font-size: 18px;
  color: #B8B8C5;
}
.heading .sub-heading{
  font-size: 20px;
  color: #F4976C;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.heading h1{
  color: #3D3D3D;
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}
.steps-information {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-information .item {
  width: 170px;
  text-align: center;
  margin-right: 120px;
  position: relative;
}
.steps-information .item p {
  margin-top: 25px;
}
.steps-information .item:last-child {
  margin: 0;
}

.steps-information .item:before {
  content: '';
  position: absolute;
  width: 70px;
  height: 2px;
  border: 1px dashed #B8B8C5;
  right: -95px;
  top: 50px;
  
}

.steps-information .item:last-child:before {
  display: none;
}
.form-wrapper .form-control ,.form-wrapper .form-select {
  background-color: #F5F7F9;
  height: 50px;
  border-color: #F5F7F9;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
}
.form-wrapper textarea.form-control{
  height: auto;
}
.form-wrapper .form-label {
  font-size: 16px;
  color: #3D3D3D;
  font-weight: 500;
}
.form-wrapper .form-group {
  margin-bottom: 35px;
}
.form-wrapper .form-group .radio-label {
  font-size: 16px;
  color: #3d3d3d;
  margin-right: 50px;
}
.action-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.action-btns .btn-orange .icon {
  margin-left: 10px;
}
.action-btns .back {
  color: #B8B8C5;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.action-btns .back .icon{
  margin-right: 15px;
}
.inline-radio {
  display: flex;
  align-items: center;
}
.inline-radio .rdio.rdio-primary.radio-inline {
  margin-right: 35px;
  margin-top: 15px;
}
.rdio {
  position: relative;
}
.rdio input[type=radio] {
  opacity: 0;
}
.rdio label {
  padding-left: 35px;
  cursor: pointer;
  margin-bottom: 7px !important;
}
.rdio label:before {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3px;
  left: 0;
  content: "";
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #F5F7F9 ;
  background: #F5F7F9  ;
}
.rdio input[type=radio] {
  margin: 0px;
}
.rdio input[type=radio]:disabled + label {
  color: #999;
}
.rdio input[type=radio]:disabled + label:before {
  background-color: #F4976C  ;
}
.rdio input[type=radio]:checked + label::before {
  background: #F4976C  ;
}
.rdio input[type=radio]:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  display: inline-block;
  font-size: 11px;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50px;
}

.custom-width{
  max-width: 770px;
  margin: 0 auto;
}


.step-images-cards {
  margin-bottom: 50px;
}
.step-images-cards .item {
  background: #fff;
  border: 0.5px solid #B8B8C5;
  box-shadow: 0px 20px 25px 0px #B8B8C533;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 25px;
}
.step-images-cards .item:hover, .step-images-cards .item.active {
  background: #f4976c59;
  border-color: #f4976c;
}
.step-images-cards .item .image {
  width: 120px;
  height: 130px;
  margin: 0 auto 25px;
}

.step-images-cards .item .image img.img-fluid {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.step-images-cards .item p {
  font-weight: 500;
}
.form-wrapper .form-group.inline {
  display: flex;
  align-items: center;
}
.form-group.inline .form-select {width: 80px;margin-left: 25px;}
.form-wrapper .add-more {
  color: #F4976C;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}
.form-wrapper .add-more .icon{
  margin-right: 15px;
}

.form-wrapper .form-group .upload {
  height: 170px;
  position: relative;
  background: #F5F7F9;
  border: 2px dashed #B8B8C5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper .form-group .upload input.form-control {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  opacity: 0;
}
.form-wrapper legend.form-title {
  font-size: 18px;
  color: #3D3D3D;
  font-weight: 700;
  margin-bottom: 30px;
}
.checkboxes-wrapper {
  max-width: 550px;
  margin: 0 auto;
}
.form-wrapper .checkboxes-wrapper .form-group {
  margin-bottom: 20px;
}
.form-wrapper .checkboxes-wrapper .form-group .form-check {
  padding-left: 0;
  display: flex;
  align-items: center;
}
.form-wrapper .form-check-input {
width: 25px;
    height: 25px;
    background-color: #F5F7F9;
    border: 1px solid #B8B8C5;
    margin: 0;
    box-shadow: none;
    outline: none;
}

.form-wrapper .form-check-input:checked {
      background-color: #0d6efd;
      border-color: #0d6efd;
      background-color: #F4976C;
      border-color: #F4976C;
  }
  .form-wrapper .form-check-label{
    margin-left: 20px;
  }